@import URL(./__inner/button__inner.css);
@import URL(./__inner-text/button__inner-text.css);
.button {
  background-color: transparent;
  outline: none;
  min-height: 48px;
  border: solid 1px #FFFFFF;
  border-radius: 100px;
  padding: 0 17px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: background-color .2s;
}

.button:focus-visible {
  outline: auto;
}

