@import URL(./__text/article-card__text.css);
@import URL(./__title/article-card__title.css);
@import URL(./__date/article-card__date.css);
@import URL(./__icon-save/article-card__icon-save.css);
@import URL(./__icon-delete/article-card__icon-delete.css);
@import URL(./__image/article-card__image.css);
@import URL(./__source/article-card__source.css);
@import URL(./__text-container/article-card__text-container.css);
@import URL(./__image/_place-left/article-card__image_place-left.css);
@import URL(./__image/_place-center/article-card__image_place-center.css);
@import URL(./__image/_place-right/article-card__image_place-right.css);
@import URL(./__category/article-card__category.css);
.article-card {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  height: 578px;
  position: relative;
}
