@import URL(./__title/search-aticles__title.css);
@import URL(./__discription/search-aticles__discription.css);
.search-aticles {
    min-height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}