.root_active-authorized #nav-authorized {
  display: flex;
}
.root_active-authorized #nav-not-authorized {
  display: none;
}
.root_active-authorized #search-aticles-discription-authorized {
  display: block;
}
.root_active-authorized #search-aticles-discription-not-authorized {
  display: none;
}
.root_active-authorized .article-card__icon-save:hover::before {
  display: none;
}
