.header__button-auth {
  margin: 0 0 0 32px;
}

.header__button-auth:hover {
  background-color: rgb(187, 184, 184, .3);
  transition: background-color .2s;
}

.header__button-auth:active {
  background-color: rgb(187, 184, 184, .6) ;
}
