
.article-card__image {
  min-width: 1px;
  width: 100%;
  min-height: 1px;
  padding-bottom: 68%;
  max-height: 272px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: url(../../../images/image_04.png);
}

@media (max-width: 1024px) {
  .article-card__image {
    padding-bottom: 67%;
  }
}

@media (max-width: 767px) {
  .article-card__image {
    padding-bottom: 73%;
  }
}

