@import URL(./__message-icon/search-status__message-icon.css);
@import URL(./__message-text/search-status__message-text.css);
@import URL(./__message-title/search-status__message-title.css);
@import URL(./__message/search-status__message.css);
@import URL(./__preloader/saerch-status__preloader.css);


.search-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #F5F6F7;
  position: relative;
}
