.social-icons__item_github {
  background-image: url(../../../images/github.svg);
}

.social-icons__item_github:hover {
  background-image: url(../../../images/github-hover.svg);
}

@media (max-width: 768px) {
  .social-icons__item_github {
    border-radius: 50%;
  }
}
