.article-card__text-container {
  display: flex;
  flex-direction: column;
  min-height: 78px;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 22px;
}
