.search-aticles__discription {
    max-width: 608px;
    width: 100%;
    box-sizing: border-box;
    padding-right: 65px;
    margin: 32px 0 0 0;
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

#search-aticles-discription-authorized {
  display: none;
}

@media (max-width: 1024px) {
  .search-aticles__discription {
    max-width: 452px;
    margin-top: 16px;
    padding-right: 0;
  }
}
