.header_theme-text-black .header__nav-container{
  color: #1A1B22;
}

.header_theme-text-black .logo {
  color: #1A1B22;
}

.header_theme-text-black .header__button-auth {
  border-color: #1A1B22;
}

.header_theme-text-black .button__inner {
  color: #1A1B22;
}

.header_theme-text-black .header__logout-icon {
  background-image: url(../../images/logout-icon-black.svg);
}
